{% extends 'order/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{#<script src="{% static 'js/cart.js' %}" defer></script>#}

    <h2>Cart Summary</h2>
    {% for item in cart %}
        <div>
            <h3>{{ item.item.name }}</h3>
            {% if item.selection %}
                <p>Meat: {{ item.meat_option.name }}</p>
            {% else %}
                <p>Meat: None</p>
            {% endif %}

            {% if item.spicy_level %}
                    <p>Spicy Level: {{ item.spicy_level.name }}</p>
                {% else %}
                    <p>Spicy Level: 0</p>
                {% endif %}

            <p>Quantity: {{ item.quantity }}</p>
            <p>Total Price: ${{ item.item_total }}</p>

            <!-- Remove button: posts to cart_remove with the index -->
          <form method="POST" action="{% url 'cart_remove' item.table_id item.item.id %}">
              {% csrf_token %}
              <button type="submit">Remove</button>
          </form>
        </div>
        <hr>
    {% endfor %}

    <a href="{% url 'cart_confirm' %}" style="color: #e49110">Confirm Order</a>
{% endblock %}
