{% extends 'order/base.html' %}

{% block content %}
<h2>Table Selection</h2>
<h2>Please select the table</h2>

{% for table in tables %}
<article>
    <div id="table_selection">
        {% if table.qr_code %}
        <h3><a class="table-link" href="{% url 'menu_view' table_id=table.pk %}">Table Number: {{ table.table_number }}
            <div><img src="{{ table.qr_code.url }}" alt="QR Code for Table {{ table.table_number }}"></div>
        </a></h3>
        {% endif %}
        <p>Table Status: {% if table.availability %}Available{% else %}Occupied{% endif %}</p>
    </div>
</article>

{% endfor %}
{% endblock %}